// Styling for the masthead
header.masthead {
  padding-top: 7rem;
  padding-bottom: calc(7rem - 56px);
  background-image: url('/img/vignette1.jpg');
  background-size: cover;
  background-position: center;

  h1 {
    font-size: .8rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .separator {
    margin: 25px;
  }

  .btn {
    font-size: 10px;
  }

  .btn-xl {
    padding: .8rem 1rem;
  }

  .icon-container a {
    text-decoration: none;
    color: $white;
    font-size: 1.25em;
  }

  .icon-container {
    margin-top: 1em;
  }

  .underscore {
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      visibility: hidden;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    background-position-y: bottom;

    h1 {
      font-size: 1.8rem;
    }
    
    h2 {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .separator {
      margin: 50px;
    }

    .btn {
      font-size: 1rem;
    }

    .btn-xl {
      padding: 1.25rem 2rem;
    }

    .icon-container a {
      font-size: 2.75em;
      &:hover {
        color: $danger;
      }
    }
  }
}
