// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  @include sans-serif-font;
  @include transition-all;

  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        text-transform: uppercase;
        color: $white;
        &.active {
          color: $white !important; // $danger
          background-color: transparent;
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-nav > li.nav-item > a.nav-link {
      margin: 0.5rem 1rem;
      padding: 0 0 5px 0;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $white;
      &:hover {
        color: $white; // $danger
      }
      &.active {
        color: $white !important;
        border-bottom: 2px solid $white;
        background-color: transparent;
        &:hover {
          background-color: transparent;
          color: $white !important;
        }
      }
    }
    &.navbar-shrink {
      background-color: $gray-900;
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $white;
        &:hover {
          color: $danger;
        }
        &.active {
          color: $white !important;
          border-bottom: 2px solid $white;
          background-color: transparent;
          &:hover {
            background-color: transparent;
            color: $white !important;
          }
        }
      }
    }
  }
}
